<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noarchive" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Linee Guida Editoriali - Il Sole 24 Ore</title>

<meta name="description" content="Il Sole 24 Ore aderisce al Trust Project, un progetto nato all'Università  di Santa Clara (California) che ha l'obiettivo di valorizzare il giornalismo di cui fidarsi. L'adozione di regole etiche costituisce una condizione necessaria per costruire un nuovo patto di fiducia con la comunità  dei lettori e perseguire con successo l'obiettivo di rappresentare un insostituibile organo di informazione per il Paese." />
<meta name="keywords" content="Trust Project, regole etiche, linee guida editoriali" />

<link rel="canonical" href="https://ilsole24ore.com/linee-guida-editoriali/">
