<!-- fb -->
<meta property="og:title" content="Linee Guida Editoriali - Il Sole 24 Ore" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Il Sole 24 ORE aderisce al Trust Project, un progetto nato all’Università di Santa Clara (California) che ha l’obiettivo di valorizzare il giornalismo di cui fidarsi. L’adozione di regole etiche costituisce una condizione necessaria per costruire un nuovo patto di fiducia con la comunità dei lettori e perseguire con successo l'obiettivo di rappresentare un insostituibile organo di informazione per il Paese." />
<meta property="og:site_name" content="Il Sole 24 Ore" />
<meta property="og:locale" content="it_IT" />
<meta property="article:author" content="https://www.facebook.com/ilsole24ore" />
<meta property="article:section" content="Linee Guida Editoriali" />
<meta property="og:url" content="https://www.ilsole24ore.com/linee-guida-editoriali" />
<meta property="og:image" content="https://i2.res.24o.it/img2015/Facebook_Il_Sole_24_Ore.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Il Sole 24 ORE" />
<meta property="fb:pages" content="139894059362416" />
<meta property="fb:app_id" content="139894059362416">

